[user]
	email = tomas@slama.dev
	name = xiaoxiae

[alias]
	# diff commands
	d = diff
	db = diff -b

	# status commands
	s = status
	t = log --decorate --all --graph
	b = branch
	
	# The Holy Trinity
	a = add
	c = commit
	ca = commit --amend --no-edit
	p = push

	# undo commit (move head)
	undo = reset HEAD~

	#  other
	co = checkout
	cp = cherry-pick
	m = merge

	# stash
	st = stash

[log]
	date = relative

[format]
	pretty = format:%C(yellow)%h%C(reset) | %C(cyan)%ad%C(reset) | %C(green)%aN%C(reset) |%C(red)%d%C(reset) %s

[core]
	# unicode symbol format
	quotePath = false

[push]
	# only push to upstream
	default = upstream
[merge]
	tool = vimdiff
